<h1>The following is the list of tags within the system:</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %>,
        <%= link_to "Delete", tag_path(tag), method: :delete, confirm: "Are you Sure?"%></li>
  <% end %>
</ul>

